node_modules
**/node_modules
**/.next
**/.next-cache
**/dist
.git
.gitignore
**/*.md
**/.env
**/.env.*
!infrastructure/docker/.env.example
.turbo
.cache
coverage
**/coverage
apps/docs
apps/admin
apps/worker
nul
